body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("./Images/sunset1.jpg")
  }
  
  h1 {
    color:black;
    font-size: 36px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 15px;
  }
  li {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 100;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }
  li:first-letter {
    text-transform: capitalize;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  footer {
    font-size: 10px;
    color: black;
  }
  .Weather {
    background: linear-gradient(87.4deg, rgb(255, 241, 165) 1.9%, rgb(200, 125, 76) 49.7%, rgb(83, 54, 54) 100.5%);
    border: 1px solid #ced4da;
    max-width: 950px;
    height: 400px;
    margin: 60px auto 0 auto;
    padding: 20px;
  }